<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Hospital Management System</title>

<body>
<section>
	<div class="sidebar">
	

	<a href="dashboard" class="item">DashBoard</a>
	<a href="staffform" class="item">Staff form</a>
	<a href="staffsdetail" class="item">Staff List</a>
	<a href="patientsdetail" class="item">Patient List</a>
	<a href="patient" class="item">Admit Form</a>

	</div>	
	
	</section>
	

</body>
</html>